---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import ProductsGrid from '../components/ProductsGrid';
import productsData from '../data/products.json';
import Header from '../components/Header';
import type { Product } from '../types/index';
import Footer from '../components/Footer';


// DATA
const products = productsData as unknown as Product[];
---

<Layout>
    <head>
        <title>Paga con criptomonedas por cualquier producto</title>
		<meta name="keywords" content="cripto, criptomonedas, pagos cripto, ecommerce, pagos digitales, compras online, envíos a todo Colombia, envio gratis" />
        <meta name="robots" content="index. follow"/>
    </head>
	<Header client:load />
	<Hero client:load />
	<div id="products">
		<ProductsGrid products={products} />
	</div>
	<Footer />
</Layout>
