---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Compra cualquier producto con entregas gratis a toda Colombia, 30 días para devoluciones y soporte 24/7. Tu seguridad y satisfacción son nuestra prioridad." />
		<meta name="author" content="Paga con Cripto"/>
		<meta name="publisher" content="Paga con Cripto" />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pagaconcripto.com.co/" />
		<meta property="og:title" content="Paga con Cripto | Pagos Seguros con Criptomonedas" />
		<meta property="og:description" content="Compra cualquier producto con criptomonedas, entregas gratis a toda Colombia, 30 días para devoluciones y soporte 24/7. Tu seguridad y satisfacción son nuestra prioridad." />
		<meta property="og:image" content="https://www.pagaconcripto.com.co/_astro/default.ClS_eH-T.svg" />
		<script>
		window.dataLayer = window.dataLayer || [];
		</script>
		
		<!-- Google Tag Manager -->
		<script type="text/partytown" is:inline>
		if (window.location.hostname !== 'localhost') {
		(function(w,d,s,l,i){
			w[l] = w[l] || [];
			w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l !== 'dataLayer' ? '&l='+l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j,f);
		})(window, document, 'script', 'dataLayer', 'GTM-M9P3FVLR');
		}

		</script>
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
			src="https://www.googletagmanager.com/ns.html?id=GTM-M9P3FVLR"
			height="0"
			width="0"
			style="display:none;visibility:hidden"
			></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
		<Analytics />
		<SpeedInsights />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
