---
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Compra cualquier producto con entregas gratis a toda Colombia, 30 días para devoluciones y soporte 24/7. Tu seguridad y satisfacción son nuestra prioridad." />
		<meta name="author" content="Paga con Cripto"/>
		<meta name="publisher" content="Paga con Cripto" />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://pagaconcripto.com.co/" />
		<meta property="og:title" content="Paga con Cripto | Pagos Seguros con Criptomonedas" />
		<meta property="og:description" content="Compra cualquier producto con criptomonedas, entregas gratis a toda Colombia, 30 días para devoluciones y soporte 24/7. Tu seguridad y satisfacción son nuestra prioridad." />
		<meta property="og:image" content="https://www.pagaconcripto.com.co/_astro/default.ClS_eH-T.svg" />
		<!-- Google tag (gtag.js) -->
        <script type="text/partytown" is:inline>
            if (window.location.hostname !== 'localhost') {
                var script = document.createElement('script');
                script.src = 'https://www.googletagmanager.com/gtag/js?id=G-JZDH1CHXBS';
                document.head.appendChild(script);
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-JZDH1CHXBS');
            }
        </script>
	</head>

	<body>
		<slot />
		<Analytics />
		<SpeedInsights />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
